<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}DEVOUR IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>




